<!doctype html>
<html>

<head>
  <title>admin-celebration</title>
</head>

<body style="background-color: #f4f9ff">
  <table style="width: 550px; border: 1px solid #ccc; margin: 0 auto; border-radius: 5px; background-color: #f8f8f8">
    <tr>
      <td style="background-color: #fff; padding: 30px; text-align: center">
        <img style="max-width: 250px"
          src="https://vc-development-public.s3.ap-south-1.amazonaws.com/bannerLogo170730536190733-1707305361907.png" />
      </td>
    </tr>
    <tr>
      <td style="padding: 20px 50px">
        <p style="line-height: 1.6; margin-bottom: 10px">Dear <strong><%= organizationName %></strong>,</p>
        <p style="line-height: 1.6; margin-top: 0px">
          We would like to inform you that a refund of <%= amount %> has been processed and deducted from your account
            for
            the donation made by <%= name %> on <%= date %> for the cause <%= causeName %>.
        </p>
        <p style="line-height: 1.6; margin-top: 0px"></p>
        Please update the records accordingly.
        </p>
        <p style="line-height: 1.6; margin-top: 0px"></p>
        Thank you for your cooperation.
        </p>
        <p style="line-height: 1.6; margin-top: 0px"></p>
        If you have any questions or need further assistance, please feel free to contact us.
        </p>
      </td>
    </tr>
    <tr>
      <td style="padding: 0px 50px 20px 50px; text-align: center">
        <p style="margin: 0">Powered by Pro-Life Prosper</p>
      </td>
    </tr>

    <td style="padding: 0px 50px 20px 50px; text-align: left">
      <p style="margin-top: 0; margin-bottom: 0; text-decoration:none;">
        <% if (donorProfileUrl) { %>
          <a href="<%= donorProfileUrl %>">Manage your donation</a>
          mail us at <a href="mailto:support@prolifepayments.com"
            style="text-decoration:none;">support@prolifepayments.com</a> for any help.
          <% } else { %>
            Mail us at <a href="mailto:support@prolifepayments.com"
              style="text-decoration:none;">support@prolifepayments.com</a> for any help.
            <% } %>
      </p>
      <p style="text-align: left; border-bottom: 1px solid #ccc"></p>
      <p style="margin-top: 0; text-align: left">
        <strong>Confidentiality Notice</strong>: This email and any attachments are confidential and intended only for
        the recipient(s) named. If you received this email by mistake, please notify the sender immediately and delete
        this. Unauthorized use, disclosure or distribution is prohibited and may be unlawful.
      </p>
    </td>
  </table>
</body>

</html>