<!doctype html>
<html>
<head>
  <title>Help & Support - Ticket Raised</title>
</head>
<body style="background-color: #f4f9ff">
  <table style="width: 550px; border: 1px solid #ccc; margin: 0 auto; border-radius: 5px; background-color: #f8f8f8">
    <tr>
      <td style="background-color: #fff; padding: 30px; text-align: center">
        <img style="max-width: 250px"
          src="https://vc-development-public.s3.ap-south-1.amazonaws.com/bannerLogo170730536190733-1707305361907.png" />
      </td>
    </tr>
    <tr>
      <td style="padding: 20px 50px">
        <p style="line-height: 1.6; margin-bottom: 10px">Dear <%= name %>,</p>
        <p style="line-height: 1.6; margin-top: 0px">
         Thank you for reaching out. We’ve successfully received your Help & Support request and have created a ticket to address your query. Below are the details for your reference:
        </p>
        <p style="line-height: 1.6; margin: 15px 0">
          <strong>Ticket ID:</strong> <%= ticketId %><br/>
          <strong>Category:</strong> <%= category %><br/>
          <strong>Description:</strong> <%= description %>
        </p>
        <p style="line-height: 1.6; margin-top: 25px">
         We appreciate your patience and will keep you informed of the progress.
        </p>
        <p style="line-height: 1.6; margin-top: 25px">
         Thank you, </br>
         <strong>Support Team</strong>
        </p>
      </td>
    </tr>
    <tr>
      <td style="padding: 0px 50px 20px 50px; text-align: center">
        <p style="margin: 0">Powered by Pro-Life Prosper</p>
      </td>
    </tr>
     <td style="padding: 0px 50px 20px 50px; text-align: left">
      <p style="margin-top: 0; margin-bottom: 0; text-decoration:none;">
        <% if (donorProfileUrl) { %>
          <a href="<%= donorProfileUrl %>">Manage your donation</a>
          mail us at <a href="mailto:support@prolifepayments.com"
            style="text-decoration:none;">support@prolifepayments.com</a> for any help.
          <% } else { %>
            Mail us at <a href="mailto:support@prolifepayments.com"
              style="text-decoration:none;">support@prolifepayments.com</a> for any help.
            <% } %>
      </p>
      <!-- <tr>
      <td colspan="2" style="text-align: left;border-bottom: 1px solid #ccc;"></td>
    </tr> -->

      <p style="text-align: left; border-bottom: 1px solid #ccc"></p>

      <p style="margin-top: 0; text-align: left">
        <strong>Confidentiality Notice</strong>: This email and any attachments are confidential and intended only for
        the recipient(s) named. If you received this email by mistake, please notify the sender immediately and delete
        this. Unauthorized use, disclosure or distribution is prohibited and may be unlawful.
      </p>
    </td>
  </table>
</body>
</html>
